<a href="https://colab.research.google.com/github/adelriscom/DataScience/blob/main/Web_scrapping_exercise_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task:
The url below contains html tables with ata about world population
"https://en.wikipedia.org/wiki/World_population"

1) Find and scrap all the html tables

In [12]:
import pandas as pd
from bs4 import BeautifulSoup # Good for webscrapping for pulling HTML and XML files
import requests # to download webpage

In [13]:
url = 'https://en.wikipedia.org/wiki/World_population'

In [14]:
# We use get to download the content of the web page in txt format and store in a variable called data:

#data = requests.get(url).text
try:
    response = requests.get(url)
    data = response.content
    # We create BeautifulSoup object using the BeautifulSoup Constructor
    soup = BeautifulSoup(data, 'html5lib') # create a soup using variable data 
    # print the status code
    print(f"Status code: {response.status_code}")
except requests.exceptions.RequestException as e:
    # Handle the exception
    print(f"An error occurred: {str(e)}")

Status code: 200

In [4]:
print(response.headers)

{'date': 'Tue, 09 May 2023 10:47:53 GMT', 'server': 'mw2359.codfw.wmnet', 'x-content-type-options': 'nosniff', 'content-language': 'en', 'vary': 'Accept-Encoding,Cookie,Authorization', 'last-modified': 'Tue, 09 May 2023 10:46:12 GMT', 'content-type': 'text/html; charset=UTF-8', 'content-encoding': 'gzip', 'age': '32424', 'x-cache': 'cp4038 miss, cp4038 hit/17', 'x-cache-status': 'hit-front', 'server-timing': 'cache;desc="hit-front", host;desc="cp4038"', 'strict-transport-security': 'max-age=106384710; includeSubDomains; preload', 'report-to': '{ "group": "wm_nel", "max_age": 604800, "endpoints": [{ "url": "https://intake-logging.wikimedia.org/v1/events?stream=w3c.reportingapi.network_error&schema_uri=/w3c/reportingapi/network_error/1.0.0" }] }', 'nel': '{ "report_to": "wm_nel", "max_age": 604800, "failure_fraction": 0.05, "success_fraction": 0.0}', 'set-cookie': 'WMF-Last-Access=09-May-2023;Path=/;HttpOnly;secure;Expires=Sat, 10 Jun 2023 12:00:00 GMT, WMF-Last-Access-Global=09-May-2023;Path=/;Domain=.wikipedia.org;HttpOnly;secure;Expires=Sat, 10 Jun 2023 12:00:00 GMT, WMF-DP=16a;Path=/;HttpOnly;secure;Expires=Wed, 10 May 2023 00:00:00 GMT, GeoIP=US:OR:The_Dalles:45.60:-121.19:v4; Path=/; secure; Domain=.wikipedia.org', 'x-client-ip': '34.82.24.61', 'cache-control': 'private, s-maxage=0, max-age=0, must-revalidate', 'accept-ranges': 'bytes', 'content-length': '94518'}

In [ ]:
print(response.text)

In [ ]:
tables = soup.find_all("table")

for table in tables:
    # extract the data
    rows = table.find_all("tr")
    for row in rows:
        cols = row.find_all("td")
        for col in cols:
            print(col.text)

2) How many tables do we have on the page?

In [16]:
# Print the number of tables found
print(f"Number of tables on the webpage: {len(tables)}")

Number of tables on the webpage: 28

3) Get the information from the from the "10 most densely populated countries". into a panda dataframe. It should look like:

<center>
    <img src="https://elasticbeanstalk-us-east-2-340729127361.s3.us-east-2.amazonaws.com/web_scrap.png" width="300" />
</center>

In [18]:
tables = pd.read_html(url)
df = tables[7]
df

,Rank,Country,Population,Area (km2),Density (pop/km2),Population trend[citation needed]
0,1,India,1389637446,3287263,423,Growing
1,2,Pakistan,242923845,796095,305,Rapidly growing
2,3,Bangladesh,165650475,148460,1116,Growing
3,4,Japan,124214766,377915,329,Declining[103]
4,5,Philippines,114597229,300000,382,Growing
5,6,Vietnam,103808319,331210,313,Growing
6,7,United Kingdom,67791400,243610,278,Growing
7,8,South Korea,51844834,99720,520,Steady
8,9,Taiwan,23580712,35980,655,Steady
9,10,Sri Lanka,23187516,65610,353,Growing

4) Scrap of the links frm the website. How many links do we have in all?

In [22]:
# Find all the links on the page and store them in a list
links = [link.get('href') for link in soup.find_all('a')]

# Print the number of links found
print(f"Total number of links found: {len(links)}")

Total number of links found: 1743